.pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid #d9d9d6;
  background-color: #fff;
  cursor: pointer;
  &.medium {
    &:active {
      border: 1px solid #0061a0;
      background-color: #0061a0;
      & span {
        color: #fff !important;
      }
    }
    &.active {
      border: 2px solid #007abc;
    }
    &.selected {
      border-color: #007abc;
      background-color: #007abc;
      & span {
        color: #fff !important;
      }
    }
  }
  &.small {
    height: 26px;
    padding: 0 10px;
    border-radius: 13px;
    &:hover {
      background: #e6f4fb;
      border-color: #e6f4fb;
    }
  }
}
