@use '~@repo/styles/common_constants' as common_constants;

.circleProgress {
  width: 82px;
  height: 82px;
  overflow: hidden;
  position: relative;
  &.large {
    width: 115px;
    height: 115px;
    & .ico {
      width: 115px;
      height: 115px;
    }
    &.danger {
      background: url(assets/icons/ico-progress-danger-large.svg) no-repeat center
        center;
      & .ico {
        width: 115px;
        height: 115px;
      }
    }
    &.complete {
      background: url(assets/icons/ico-progress-complete-large.svg) no-repeat
        center center;
      & .ico {
        width: 115px;
        height: 115px;
      }
    }
  }
  &.danger {
    background: url(assets/icons/ico-progress-danger.svg) no-repeat center center;
    & .ico {
      display: none;
    }
    & svg {
      display: none;
    }
  }
  &.complete {
    background: url(assets/icons/ico-progress-complete.svg) no-repeat center
      center;
    & .ico {
      display: none;
    }
    & svg {
      display: none;
    }
  }
  & .ico {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    & img {
      width: 24px;
      height: 24px;
    }
  }
}
.progressChart {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  & .meter {
    fill: none;
    stroke: common_constants.$light_gray;
  }
  & .value {
    fill: none;
    stroke-linecap: round;
    transition: all 0.5s;
  }
}
