@use '~@repo/styles/common_constants' as common_constants;

.roundDialog {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  & .roundDim {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  & .roundItem {
    position: absolute;
    left: 0;
    bottom: 0px;
    transform: translateY(200px);
    opacity: 0;
    z-index: 90;
    background: #fff;
    transition: all 0.5s;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 16px 32px 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0 0;
    @media (min-width: 768px) {
      position: relative;
      transform: none;
      opacity: 1;
      z-index: 90;
      transition: all 0s;
      width: 450px;
      border-radius: 20px;
      margin: 150px auto 0 auto;
    }
    & .header {
      margin: 0 -16px;
      width: calc(100% + 32px);
      height: 52px;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid common_constants.$gray;
      & > .close {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        right: 16px;
        min-width: 0;
        min-height: 0;
      }
    }
    & .children {
      width: 100%;
      height: auto;
    }
  }
}
.roundDialog.active {
  display: block;
  @media (max-width: 768px) {
    & .roundItem {
      animation-name: itemUp;
      animation-delay: 0.3s;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
  @-webkit-keyframes itemUp {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes itemUp {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
