@use '~@repo/styles/common_constants' as common_constants;

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px 8px;
  height: auto;
  border-radius: 30px;
  @media (min-width: 768px) {
    padding: 2px 20px;
  }
  &.xs {
    border-radius: 8px;
    height: 24px;
    padding: 0 8px;
  }
  &.whiteLabel {
    border: 1px solid common_constants.$white;
    background-color: transparent;
  }
  &.blackLabel {
    border: 1px solid common_constants.$black;
    background-color: transparent;
  }
  &.purple {
    background-color: common_constants.$mlbasepurple;
    border: 1px solid common_constants.$mlbasepurple;
  }
  &.berry {
    background-color: common_constants.$mlbaseberry;
    border: 1px solid common_constants.$mlbaseberry;
  }
  &.teal {
    background-color: common_constants.$mlbaseteal;
    border: 1px solid common_constants.$mlbaseteal;
  }
  &.yellow {
    background-color: common_constants.$mlbaseyellow;
    border: 1px solid common_constants.$mlbaseyellow;
  }
  &.gray {
    background-color: common_constants.$darkmediumgray;
    border: 1px solid common_constants.$darkmediumgray;
  }
  &.green {
    background-color: common_constants.$mlbasegreen;
    border: 1px solid common_constants.$mlbasegreen;
  }
  &.orange {
    background-color: common_constants.$mlbasesalmonorange;
    border: 1px solid common_constants.$mlbasesalmonorange;
  }
  &.blue1 {
    background-color: common_constants.$mlbaseblue1;
    border: 1px solid common_constants.$mlbaseblue1;
  }
  &.blue3 {
    background-color: common_constants.$mldarkblue3;
    border: 1px solid common_constants.$mldarkblue3;
  }
  &.darkyellow {
    background-color: common_constants.$darkyellow;
    border: 1px solid common_constants.$darkyellow;
  }
}
