@use '~@repo/styles/common_constants' as common_constants;

.qnaDt {
  position: relative;
  padding-left: 28px;
  > span + span {
    color: common_constants.$darkestgray !important;
  }
}

.qnaUnit {
  position: absolute;
  width: 22px;
  height: 22px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: common_constants.$white !important;
  border-radius: 50%;
  &.q {
    left: 2px;
    top: 0;
    background-color: common_constants.$mlblue2;
  }
  &.a {
    left: 16px;
    top: 17px;
    background-color: common_constants.$mlbasegreen;
  }
}
