@use '~@repo/styles/common_constants' as common_constants;

.divider {
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &.line {
    height: 1px;
    background-color: common_constants.$light_gray;
  }
  &.section {
    border-top: 1px solid common_constants.$gray;
    height: 7px;
    background-color: common_constants.$light_gray;
  }
  &.info {
    width: 1px;
    height: 9px;
    background-color: common_constants.$gray;
  }
}
