@use '~@repo/styles/common_constants' as common_constants;
.benefitCard {
  overflow: visible;
  position: relative;
  .txt {
    display: inline;
    .str {
      max-width: 180px;
      height: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      vertical-align: top;
      display: inline-block;
      @media (max-width: 380px) {
        max-width: 170px;
      }
      @media (max-width: 370px) {
        max-width: 150px;
      }
      @media (max-width: 350px) {
        max-width: 114px;
      }
    }
  }
  & .rows {
    position: relative;
    z-index: 2;
    & .B {
      color: common_constants.$green !important;
    }
    & .BS {
      color: common_constants.$new_green !important;
    }
    & .BSF {
      color: common_constants.$blue_02 !important;
    }
    & .BSFP {
      color: common_constants.$dark_blue_01 !important;
    }
    & .BSP {
      color: common_constants.$dark_blue_01 !important;
    }
    button {
      min-height: auto;
    }
    & .infoTitle {
      margin-bottom: 4px;
    }
  }
  .bheader {
    width: 100%;
    height: auto;
    min-height: 36px;
    margin-bottom: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .progress {
    margin-top: 16px;
  }
  .serviceBtn {
    display: block;
    margin-top: 16px;
  }
  .desc {
    display: block;
    margin-top: 8px;
  }
  .showAll {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 3;
    & button {
      min-width: 90px;
      max-height: 36px;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .rows {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .progress {
      margin-top: 0;
      flex-basis: 475px;
    }
    .showAll,
    .serviceBtn {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .infoBox {
      display: inline-block;
      transform: translateY(5px);
    }
  }
}
.onlyMob {
  @media (min-width: 768px) {
    display: none !important;
  }
}
