@use '~@repo/styles/common_constants' as common_constants;

.cardList {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  padding: 16px;
  background-image: common_constants.$gradient1;
  & .helpMsg {
    font-size: common_constants.$h4;
    font-weight: common_constants.$bold;
    line-height: 20px;
    color: common_constants.$white;
    & + ul {
      margin-top: 24px;
    }
  }
  & ul {
    width: 100%;
    & li {
      width: 100%;
      height: auto;
      border-radius: 8px;
      background: common_constants.$white;
      & a {
        padding: 16px;
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & .icon {
          width: 24px !important;
          height: 24px;
          overflow: hidden;
          @media (min-width: 768px) {
            width: 60px !important;
            height: 60px;
          }
          & > img {
            display: flex;
            width: 24px;
            height: auto;
            @media (min-width: 768px) {
              width: 60px !important;
              height: 60px;
            }
          }
        }
        & > span {
          margin-left: 10px;
          display: flex;
          width: 100%;
          flex: 1;
          color: common_constants.$darkest_gray;
          &.icon {
            flex: initial;
            margin-left: 0;
          }
        }
        & > .str {
          display: inline-flex;
          width: auto;
          flex: initial;
          color: common_constants.$blue_01;
          background: url(assets/icons/ico-benefit-more.svg) no-repeat right
            center;
          padding-right: 24px;
          &.status {
            background: none;
            padding-right: 0;
            font-weight: common_constants.$bold;
          }
        }
      }
      & + li {
        margin-top: 16px;
      }
    }
  }
}
