.contCard {
  position: relative;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:112px;
  &.auto{
    height:auto;
    padding:16px;
  }
  img {
    width: 80px;
    height: 80px;
  }
}
.guide {
  display: block;
}
.cont {
  width: 100%;
  flex: 1;
  margin-right: 8px;
}
.dDay {
  margin-left: 8px;
}
.label{
  display: block;
  margin: 0 0 4px 0;
}
.text {
  display: block;
  margin: 4px 0 8px 0;
  min-height: 28px;
}
.btnWrap {
  display: block;
  margin-top: 32px;
}
