@use '~@repo/styles/common_constants' as common_constants;
.imageCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: common_constants.$white;
  padding: 16px;
}
.imgArea {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
.cont {
  padding-left: 16px;
  width: 100%;
  flex: 1;
}
.label {
  display: block;
  margin-bottom: 2px;
}
.title {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.btn {
  display: inline-flex;
}
.above {
  position: relative;
  flex-direction: column;
  padding: 0;
  .imgArea {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: auto;
  }
  .cont {
    padding: 16px;
    .title {
      -webkit-line-clamp: 2;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }
}

.imageCardGroup {
  padding: 16px;
  .imageCard {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    & + .imageCard {
      margin-top: 32px;
      position: relative;
      overflow: visible;
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        overflow: hidden;
        display: block;
        position: absolute;
        left: 0;
        top: -16px;
        background: common_constants.$lightestgray;
      }
    }
  }
}
.youtubeIcon {
  position: absolute;
  left: 0;
  bottom: 4px;
  img {
    width: 90px;
    height: 24px;
  }
}
