@use '~@repo/styles/common_constants' as common_constants;

.futureItem {
  position: relative;
  padding: 20px 0 20px 24px;
  margin-bottom: 16px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
  }
}
.title {
  display: block;
  margin-bottom: 8px;
}
.tag {
  position: absolute;
  top: 25px;
  right: 16px;
}
.purple {
  .title {
    color: common_constants.$mlbasepurple !important;
  }
}
.blue1 {
  .title {
    color: common_constants.$mlbaseblue1 !important;
  }
}
.green {
  .title {
    color: common_constants.$new_green !important;
  }
}

.gradient1 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient1_v2);
  }
}
.gradient2 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient2_v2);
  }
}
.gradient3 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient3_v2);
  }
}
.gradient4 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient4_v2);
  }
}
.gradient5 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient5_v2);
  }
}
.gradient6 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient6_v2);
  }
}
.gradient7 {
  &::before {
    background: linear-gradient(180deg, common_constants.$gradient7_v2);
  }
}
.futureItem {
  .description {
    padding-left: 34px;
    ul {
      margin-top: 8px;
    }
  }
}
