.textCard{
  width: 100%;
}
.rows{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.cont{
  width: 100%;
  flex: 1;
  margin-right: 8px;
}
.title{
  width: 100%;
}
.description{
  width: 100%;
  margin-top: 4px;
}
.icon{
  width:auto;
}
.btn{
  width: 100%;
  margin-top: 32px;
}