.paginationWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  @media (min-width: 768px) {
    margin-top: 10px;
    background-color: transparent;
  }
  & .playBtn {
    display: flex;
    margin: 0 2px;
    width: 8px;
    height: 8px;
    overflow: hidden;
    font-size: 0;
    text-indent: -2000px;
    cursor: pointer;
    background: url(assets/icons/ico-swiper-play.svg) no-repeat center center;
    @media (min-width: 768px) {
      width: 14px;
      height: 14px;
      background: url(assets/icons/ico-pc-play.png) no-repeat center center;
      background-size: 12px 14px;
    }
    &.stop {
      background: url(assets/icons/ico-swiper-stop.svg) no-repeat center center;
      @media (min-width: 768px) {
        width: 14px;
        height: 14px;
        background: url(assets/icons/ico-pc-pause.png) no-repeat center center;
        background-size: 12px 14px;
      }
    }
  }
  & .customPagination {
    width: auto !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    :global(.swiper-pagination-bullet) {
      width: 8px;
      height: 8px;
      bordrer: 1px solid #ccc;
      overflow: hidden;
      background-color: #ccc;
      margin: 0 2px !important;
      opacity: 1;
      @media (min-width: 768px) {
        width: 10px;
        height: 10px;
        margin: 0 4px !important;
      }
    }
    :global(.swiper-pagination-bullet-active) {
      width: 20px;
      height: 7px;
      bordrer: 1px solid #0090da;
      border-radius: 4px;
      background-color: #0090da;
      @media (min-width: 768px) {
        border-radius: 5px;
        width: 30px;
        height: 10px;
      }
    }
  }
}
