.infoBox {
  position: relative;
  display: inline-flex;
  z-index: 0;
  & > button {
    position: relative;
    z-index: 21;
  }
  & .tooltip {
    position: absolute;
    padding: 16px;
    border: 1px solid #007abc;
    border-radius: 8px;
    background: #fff;
    width: 198px;
    height: auto;
    left: 50%;
    top: 32px;
    margin-left: -102px;
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 14px;
      overflow: hidden;
      background: url(assets/icons/bg-bubble-arrow.svg) no-repeat center top;
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -3px;
    }
  }
  &.right {
    & .tooltip {
      left: auto;
      margin-left: 0;
      margin-right: -2px;
      right: 0;
      &::before {
        left: auto;
        top: -11px;
        margin-left: 0;
        right: 0;
        margin-right: 6px;
        transform: scaleX(-1);
      }
    }
  }
}
.title {
  display: block;
}
.description {
  display: block;
  margin-top: 4px;
}
