@use '~@repo/styles/common_constants' as common_constants;

.progress {
  width: 100%;
  height: auto;
  overflow: hidden;
  & .bar {
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 3px;
    background-color: common_constants.$light_gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & span {
      display: flex;
      height: 6px;
      border-radius: 3px;
      transition: all 0.5s;
      &.step01 {
        background-color: common_constants.$new_green;
      }
      &.step02 {
        background-color: common_constants.$teal;
      }
      &.step03 {
        background-color: common_constants.$yellow_dark;
      }
      &.step04 {
        background-color: common_constants.$berry;
      }
      &.step05 {
        background-color: common_constants.$red;
      }
    }
  }
}
