@use '~@repo/styles/common_constants' as common_constants;

.toast {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: calc(100% - 32px);
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  left: 16px;
  top: 24px;
  background: #f4fbff;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.5s forwards;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 102;
  text-align: left;
  & .ico {
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  &.success {
    background: #e5f7f5;
    & .ico {
      background: url('@assets/icons/ico-toast-success.svg') no-repeat;
    }
  }
  &.info {
    background: #f4fbff;
    & .ico {
      background: url('@assets/icons/ico-toast-info.svg') no-repeat;
    }
  }
  &.error {
    background: #fbe7e7;
    & .ico {
      background: url('@assets/icons/ico-toast-error.svg') no-repeat;
    }
  }
  & .msg {
    display: flex;
    width: 100%;
    margin: 0 12px;
    flex: 1;
    height: auto;
    overflow: hidden;
    text-align: left;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
