@use '~@repo/styles/common_constants' as common_constants;
$num: 10;

.benfitProgress {
  width: 100%;
  height: 24px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 0;
  @media (min-width: 768px) {
    height: 28px;
  }
  & .benfitList {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 28px;
    }
    & .item {
      width: 100%;
      height: 24px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      border-radius: 18px;
      border-right: 1px solid common_constants.$gray;
      padding-left: 28px;
      margin-left: -20px;
      background-color: common_constants.$light_gray;
      @media (min-width: 768px) {
        height: 28px;
      }
      & span {
        color: common_constants.$darkmediumgray !important;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          z-index: $num - $i;
        }
      }
      &:first-child {
        flex: 1;
        padding-left: 8px;
        margin-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
      &.welcome.on {
        background-color: common_constants.$teal;
        border-right: 0;
        & span {
          color: common_constants.$white !important;
        }
      }
      &.basic.on {
        background-color: common_constants.$mlblue2;
        border-right: 0;
        & span {
          color: common_constants.$white !important;
        }
      }
      &.premium.on {
        background: linear-gradient(to bottom, common_constants.$gradient4_v2);
        border-right: 0;
        & span {
          color: common_constants.$white !important;
        }
      }
    }
  }
}
