@use '~@repo/styles/common_constants' as common_constants;

.sideItem {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  & img {
    height: 2.2rem;
  }
}
.required {
  color: common_constants.$blue_02 !important;
  padding-left: 0;
  padding-right: 2px;
  margin-left: -2px !important;
  flex: initial;
}
.slabel {
  flex: 1;
}
.selected {
  padding-left: 0;
  padding-right: 2px;
  margin-left: -2px !important;
}
.iconBtn {
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: common_constants.$white !important;
}
.summary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-right: 30px;
  & label {
    padding-right: 8px !important;
    & > span {
      align-items: flex-start;
      & .fixed {
        min-width: 36px;
        margin-top: 1px;
      }
    }
  }
  & .link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.slist {
  margin-left: 0;
  //margin-top: 21px;
  & > li {
    &:first-child {
      margin-top: 16px;
    }
    margin-top: 8px;
    position: relative;
    .summary {
      padding-right: 30px;
      & label {
        padding-right: 8px !important;
        & > span {
          align-items: center;
          & .fixed {
            min-width: 0;
            margin-top: 0;
          }
        }
      }
    }
    & label {
      & span {
        font-size: common_constants.$notes2 !important;
        font-weight: common_constants.$normal !important;
      }
    }
    .selected {
    }
    & .sslist {
      margin-left: 26px;
      display: flex;
      flex-wrap: wrap;
      & li {
        width: 50%;
        margin-top: 8px;
        & label {
          padding-right: 8px !important;
          & span {
            font-size: common_constants.$notes2 !important;
            font-weight: common_constants.$normal !important;
          }
        }
      }
    }
  }
}
.checkBoxGroupWrap {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px !important;
  & > .citem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & label {
      padding-right: 8px !important;
    }
  }
}

.agreementWrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.agreementSummary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 24px;
  & .arrowBtn {
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    &.isExpand {
      transform: rotate(180deg);
    }
  }
}

.agreementDetails {
  padding-left: 26px;
}
