@use '~@repo/styles/common_constants' as common_constants;

.agreementItem {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: left;
  margin-top: 24px;
  & .allItem {
    height: 48px;
    border: 1px solid common_constants.$gray;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    &.on {
      border: 2px solid common_constants.$blue_02;
      label {
        margin-left: -1px;
      }
    }
    & + .mlist {
      padding-top: 24px;
    }
  }
  & .mlist {
    padding-bottom: 32px;
    & > li {
      margin-bottom: 16px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      & label {
        & span {
          font-size: common_constants.$notes1;
          font-weight: common_constants.$bold;
        }
      }
    }
  }
}
