@use '~@repo/styles/common_constants' as common_constants;

.progressbar {
  width: 100%;
  height: 8px;
  overflow: hidden;
  background-color: common_constants.$lightestgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bar {
  display: flex;
  height: 8px;
  overflow: hidden;
  background: linear-gradient(to right, common_constants.$gradient5_v2);
}
