@use '~@repo/styles/common_constants' as common_constants;

.group {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  &.vertical {
    flex-direction: column;
  }
}

.checkbox {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  & input {
    display: flex;
    appearance: none !important;
    margin: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: 0;
    &.basic {
      background: url('@assets/icons/ico-checkbox-default.svg') no-repeat center
        center;
      background-size: 24px 24px;
      &:checked {
        background: url('@assets/icons/ico-checkbox-selected.svg') no-repeat center
          center;
        background-size: 24px 24px;
      }
    }
    &.rounded {
      background: url('@assets/icons/ico-rounded-default.svg') no-repeat center
        center;
      background-size: 24px 24px;
      &:checked {
        background: url('@assets/icons/ico-rounded-selected.svg') no-repeat center
          center;
        background-size: 24px 24px;
      }
    }
    &.no-border {
      background: url('@assets/icons/ico-no-border-default.svg') no-repeat center
        center;
      background-size: 24px 24px;
      &:checked {
        background: url('@assets/icons/ico-no-border-selected.svg') no-repeat center
          center;
        background-size: 24px 24px;
      }
    }
  }
  & span {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}
