@use '~@repo/styles/common_constants' as common_constants;

.card {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 24px 16px;
  border: 1px solid common_constants.$gray;
  background-color: common_constants.$white;
  border-radius: 10px;
  &.link {
    &:active {
      background-color: common_constants.$light_gray;
      border-color: common_constants.$dark_gray;
    }
  }
  &.useHover {
    border-width: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-color: transparent;
    // &:hover {
    //   border-width: 2px;
    //   border-color: common_constants.$medium_gray;
    //   background-color: common_constants.$light_gray;
    // }
    &:active {
      border-width: 2px;
      border-color: common_constants.$medium_gray;
      background-color: common_constants.$light_gray;
    }
  }

  &.selected {
    border-color: common_constants.$dark_blue_01;
    background: common_constants.$asia_light_blue_02;
  }
}
