@use '~@repo/styles/common_constants' as common_constants;

.contentCard {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  padding: 16px;
  background-color: common_constants.$white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  @media (min-width: 768px) {
    padding: 30px;
  }
}
