@use '~@repo/styles/common_constants' as common_constants;

.reviewCard {
}

.reviewInfo {
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewName {
  color: common_constants.$darkestgray !important;
}
.reviewDate {
  position: absolute;
  left: 0;
  top: 24px;
  display: none;
}
.reviewDesc {
  margin-top: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
  > span {
    color: common_constants.$darkestgray !important;
  }
}
