@use '~@repo/styles/common_constants' as common_constants;

.listItemLabel {
  width: 100%;
  border-bottom: 1px solid common_constants.$lightgray;
  text-align: left;
  padding: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.inner {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
}
.arrowRight {
  width: 24px;
  height: 24px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.subTitle {
  width: 100%;
  flex: 1;
}
.description {
  width: 100%;
  margin-top: 4px;
}
.disabled {
  color: common_constants.$mediumgray !important;
}
